services:
  - type: web
    name: descarga-todo
    env: python
    buildCommand: |
      pip install -r requirements.txt
      py scripts/run_scraper.py
    startCommand: "gunicorn --chdir src app:app"
    envVars:
      - key: PYTHON_VERSION
        value: "3.11"
